Checks: >
  -*,
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-avoid-const-params-in-decls,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-identifier-length,
  -clang-analyzer-optin.performance.Padding,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-braces-around-statements,
  -readability-static-definition-in-anonymous-namespace,
  -readability-qualified-auto,
  -readability-redundant-string-cstr,
  -readability-redundant-string-init,
  -readability-container-size-empty,
  -readability-isolate-declaration,
  -readability-use-anyofallof,
  -readability-make-member-function-const,
  -readability-container-data-pointer,
  -modernize-use-emplace,
  -modernize-loop-convert,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-deprecated-headers,
  -modernize-raw-string-literal,
  -performance-faster-string-find,
  -performance-inefficient-string-concatenation,
  -performance-unnecessary-value-param,
  -performance-unnecessary-copy-initialization,
  -performance-move-const-arg,
  -performance-trivially-destructible,
  -clang-diagnostic-sign-compare,
  -clang-diagnostic-sign-conversion,
  -clang-diagnostic-shorten-64-to-32,
  -clang-diagnostic-implicit-int-conversion,
  -clang-diagnostic-deprecated-volatile,
  -clang-diagnostic-switch,
  -clang-diagnostic-missing-field-initializers,
  -clang-diagnostic-writable-strings,
  -clang-diagnostic-unused-parameter,
  -clang-diagnostic-unused-variable,
  -clang-diagnostic-old-style-cast,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-forward-declaration-namespace,
  -bugprone-branch-clone,
  -bugprone-use-after-move,
CheckOptions:
  - key: modernize-use-trailing-return-type.IgnoredExceptionMacros
    value: SMO_ERR
WarningsAsErrors: >
  clang-diagnostic-error,
  clang-diagnostic-c++20-extensions,
  clang-diagnostic-c++2b-extensions,
  clang-diagnostic-pragma-once-outside-header,
  bugprone-string-literal-with-embedded-nul,
  bugprone-suspicious-string-compare,
HeaderFilterRegex: '.*\.hpp'
FormatStyle: file